# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-23
SANITY_API_WRITE_TOKEN=

# Revalidation
SANITY_REVALIDATE_SECRET=

# Google Analytics 4
NEXT_PUBLIC_GA_MEASUREMENT_ID=

# Calendly
NEXT_PUBLIC_CALENDLY_URL=

# Cloudflare Stream
NEXT_PUBLIC_CLOUDFLARE_CUSTOMER_CODE=
